.header{
    background-color: #19500f;
    font-family: impact;
    font-size: 25px;

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: auto;
    height: 60px;
    border-top: #2b6022 solid 10px;
    border-bottom: #2b6022 solid 10px;

    
    .homeContainer{
        display: flex;
        flex-direction: row;
        gap: 20px;
        @include animate;

        a {
            padding: 0px 10px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            color: #212059;

            &:hover{
                color:white;
                transition: color 0.2s;
            }
        }

    }
    
    .linksContainer{
        display: flex;
        flex-direction: row;
        gap: 20px;
        @include animate;

        .welcomePrompt{
            font-family: 'Times New Roman', Times, serif;
            margin-right: 16px;
            color: white;
        }
        a {
            padding: 0px 10px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            color: #212059;

            &:hover{
                color: white;
                transition: color 0.2s;
            }
        }
    }
}