body{
    background-image: url('../public/stadium.png');
    background-attachment: fixed;
    background-size: cover;
}


@mixin animate{
    animation: glow 1s ease-in-out infinite alternate;

    @keyframes glow {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1ba6c9;
        }
        
        to {
          text-shadow: 0 0 20px #fff, 0 0 30px #1989a4, 0 0 40px #1989a4;
        }
      }

}


@import "components/Home/Home";

@import "components/Header/Header";

@import "components/Login/Login";

@import "components/Register/Register";

@import "components/CreateMatch/CreateMatch";

@import "components/EditMatch/EditMatch";

@import "components/Catalog/Catalog";

@import "components/MatchDetails/MatchDetails";


